@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --maincolor: #3D0301;
  --subcolor: #B03052;
  --mainBgcolor: #EBE8DB;
  --subBgcolor: #D76C82;
  --mainTextcolor: #2E0201;
  --subTextcolor: #7A1926;
  --hovercolor: #9A2D3D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
